@import '../../styles/utilities';

.container {
  text-align: center;
  margin-bottom: 50px;
  // background: $white;
  // padding-bottom: 100px;
  h4 {
    font-size: $h2;
    margin-bottom: 30px;
  }
}
