@import '../../styles/utilities';

$textColor: $white;
$hColor: $white;

.container {
  color: $textColor;
  position: relative;
  height: 580px;
  background-image: url('/images/footer.svg');
  background-size: cover;
  padding-top: 240px;
  // padding: 240px 50px 0 50px;

  h5,
  li,
  p {
    color: $hColor;
  }
}

.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr;
}

.background {
  position: absolute;
  left: 0;
  bottom: 0;
  right: -50px;
}
