// add css posts/_app.js

@import 'utilities';



// Breakpoints

@media screen and (min-width: 640px) {
  :root {
    $containerMaxWidth: 640px;
    $containerHorizontalPadding: 2rem;
  }
}
@media screen and (min-width: 768px) {
  :root {
    $containerMaxWidth: 1280px;
  }
}

html {
  font-size: $baseFontSize;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $bodyFont;
  font-weight: $bodyWeight;
  line-height: 1.65;
  background: $docBackground;
  color: $textColor;
}

*:focus {
  outline-color: $pink;
}

*::selection {
  background-color: $pink;
  color: $white;
}

p {
  font-size: $p;
  color: $textColor;
  margin-bottom: 1.15rem;
  max-width: 40em;
}

p a,
blockquote a,
a {
  color: $linkColor;
  text-decoration: underline;
  transition: 0.3s ease-in-out all;
}

h2 a,
h3 a,
h4 a {
  color: $linkColor;
  text-decoration: none;
}

p a:hover,
blockquote a:hover,
a:hover {
  opacity: 0.7;
}

h2 a:hover,
h3 a:hover,
h4 a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  color: $hColor;
  margin: 2.75rem 0 1.05rem;
  font-family: $headingFont;
  font-weight: $headingWeight;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: -0.025em;
}

h1 {
  margin-top: 0;
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  text-transform: uppercase;
  font-size: $h5;
}

li {
  color: $textColor;
  font-size: $baseFontSize;
}

small,
.text_small {
  font-size: $smallText;
}

hr {
  border-top: $borderLine;
}

blockquote {
  margin: 0;
  padding: 2em;
  background: $white;
  border-radius: $borderRadius;
  box-shadow: $shadow-3;
}

/* Forms */

label {
  display: block;
  font-size: $smallText;
}

input,
textarea {
  border: $borderLine;
  border-radius: $borderRadius;
  padding: 5px 4px;
}

textarea {
  height: 5rem;
  width: 100%;
}

::placeholder {
  color: $grey;
}

select {
  border: $borderLine;
  border-radius: $borderRadius;
}

/* */
button {
  $buttonBackground: $white;
  $buttonTextColor: $white;

  background: linear-gradient(0.25turn, $pink 30%, $blue);
  color: $buttonTextColor;
  appearance: none;
  border: none;
  border-radius: 60px;
  height: 50px;
  min-width: 145px;
  box-shadow: $shadow-1;
  transition: 0.3s ease-in-out box-shadow;
}

button:hover {
  box-shadow: $shadow-2;
}

button:focus {
  outline-color: $primary;
}

button[disabled] {
  opacity: 0.4;
}

hr {
  border: none;
  height: 1px;
  background: $grey;
  opacity: 0.5;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.dark {
  $background: $black;
  $textColor: $lightGrey;
}
